@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

html, body {
	font-family: 'Droid Sans', sans-serif;
	height: 100%;
}

html {
    display: table;
    margin: auto;
}

a {
	color: rgb(236, 127, 37);
}

ul {
	list-style: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

.table>thead>tr>th {
	border-bottom:none;
}

.dosage {
	font-family: 'Ubuntu Mono', 'Droid Sans', sans-serif;
	font-size: 12px;
}

.header {
	padding-top:20px;
}

.header p {
	margin:20px 0;
}

.header .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.header .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.province-btns {
	margin-top: 10px;
	border: none;
}

.prv-btn {
	border: none;
	border-radius: 0;
	background:none;
}

.prv-btn:hover, .prv-btn.active:hover, .prv-btn:focus, .prv-btn:active, .prv-btn.active, .prv-btn:focus {
	background-color: rgb(236, 127, 37);
	color: rgb(255,255,255);
	box-shadow: none;
	font-style: italic;
}

.prv-btn:focus {
	outline:none;
}

.btn-group-vertical > .btn, .btn-group > .btn {
	float: none;
}

.province-data h3 {
	font-size: 2.7em;
	color: rgb(236, 127, 37);
}

.province-data small {
	font-size: 0.4em;
}

.province-data img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.download {
	border: none;
	color: rgb(255,255,255);
	background-color: rgb(236, 127, 37);
	margin-bottom: 10px;
}

.download.active:hover, .download:hover, .download.active, .download:focus {
	background-color: rgb(5,5,5);
	color: rgb(255,255,255);
	box-shadow: none;
}

#curve_chart text {
	font-weight: 300 !important;
}

.dropdown {
	display:inline-block;
}

/* Table */
.prv-stock-table .table-header {
	background-color:rgb(236, 127, 37);
	color:rgb(255,255,255);
	padding:1rem 0;
}

.prv-stock-table .table-header h5 {
	margin:0;
}

.prv-stock-table .panel-collapse .inner {
	border-top:1px solid #ddd;
	padding:0.6rem 0;
	font-weight:bold;
}

.prv-stock-table .med-row {
	border-top:1px solid #ddd;
	padding-top:.6rem;
}

.prv-stock-table .med-info {
	padding-bottom:.5rem;
}

.prv-stock-table .med-info:hover {
	cursor:pointer;
}

.prv-stock-table .row .critical {
	color:rgb(230, 17, 17);
}
.prv-stock-table .row .intermediate {
	color:rgb(235, 176, 25);
}

.prv-dialogue {
	margin:50px 0;
}

/* Counter */
.counter {
	margin:auto;
}
.counter .clinics-total {
	font-size:25px;
	fill:rgb(236, 127, 37);
}

.counter .middle {
	stroke: rgb(3,3,3);
}

.counter .outer {
	stroke-width: 0.1em;
}

.counter .middle {
	stroke-width: .5em;
}

/* Clinics */
.prv-clinics .prv-image {
	width: 100%;
	max-width:250px;
	margin-left:25px;
}

.prv-clinics .prv-name {
	text-transform: uppercase;
	display:inline-block;
	margin-bottom:0;
}

.prv-clinics .hospital {
	height:30px;
	display:inline;
	vertical-align:bottom;
	margin:0 0 3px 10px;
}

.prv-clinics .prv-title {
	white-space:nowrap;
	margin-bottom:20px;
}

.prv-clinics .prv-clinics-num {
	margin:0;
	display:inline-block;
}

.prv-clinics .clinics-copy {
	margin-bottom:10px;
}

.prv-clinics span {
	display: table-cell;
	vertical-align:middle;
}

.prv-clinics .prv-text {
	padding-left:15px;
}

.prv-clinics .prv-date {
	padding-left:5px;
}

.prv-clinics .avail-num {
	color:rgb(236, 127, 37);
	display:table-cell;
}

.prv-clinics .total-avail {
	margin-bottom:20px;
	display:table;
}

/* Reports */
.reports {
	padding:20px;
}

@media (min-width: 768px) {
	.chart-title {
		margin-bottom: 0
	}
}

@media (max-width: 768px) {
	.chart {
		padding: 0;
	}
	.province-data img {
		position: absolute;
		bottom: 0;
		right: 15%;
		z-index: -1;
	}
}
