@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

html, body {
	font-family: 'Droid Sans', sans-serif;
	height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

a {
	color: #EC7F24;
}

.dosage {
	font-family: 'Ubuntu Mono', 'Droid Sans', sans-serif;
	font-size: 12px;
}

.clinic-check {
	background-color: #EC7F24;
	color: #FFF;
}

.row {
	padding: 0px 10px 0 10px;
	margin: 0;
}

.cl-mon {
	margin-bottom: 20px;
}

.btn {
	padding: 5px 7px 5px 7px;
}

.province-btns {
	margin-top: 10px;
	border: none;
}

.prv-btn {
	background-color: #f0f0f0;
	border: none;
	margin-bottom: 5px;
	border-radius: 0;
}

.prv-btn:hover, .prv-btn.active:hover, .prv-btn.active, .prv-btn:focus {
	background-color: #EC7F24;
	color: #FFF;
	box-shadow: none;
}

.btn-group-vertical > .btn, .btn-group > .btn {
	float: none;
}

.province-data h3 {
	font-size: 2.7em;
	color: #EC7F24;
}

.province-data small {
	font-size: 0.4em;
}

.province-data img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.download {
	border: none;
	color: #FFF;
	background-color: #EC7F24;
	margin-bottom: 10px;
}

.download.active:hover, .download:hover, .download.active, .download:focus {
	background-color: #555;
	color: #FFF;
	box-shadow: none;
}

#curve_chart text {
	font-weight: 300 !important;
}

@media (min-width: 768px) {
	.chart-title {
		margin-bottom: 0
	}
}

@media (max-width: 768px) {
	.chart {
		padding: 0;
	}
	.province-data img {
	position: absolute;
	bottom: 0;
	right: 15%;
	z-index: -1;
	}
}
